.iframe {
    box-shadow: var(--shadow-context-menu);
    border: none;
    border-radius: 12px;
    position: fixed;
    bottom: 32px;
    right: 64px;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .iframe {
        bottom: 96px;
        right: calc(50% - 148px);
    }
}
