@import url(../../constants.css);

.signup-sex-radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-wrapper {
    display: flex;
    gap: 8px;

    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
    flex-direction: column;
}

.choices-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--text-primary);
}

input[type='radio'] {
    transition: var(--trans-input);
    width: 16px;
    height: 16px;
    margin: 0;
}
