.feed-filter {
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    padding: 8px;
    width: 100%;
    background: var(--text-white);
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-filter-category {
    border-radius: 8px;
    padding: 0px 12px;
    width: 100%;
    height: 36px;
    transition: var(--trans-menu);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.feed-filter-category:hover {
    background: var(--background-light-gray);
}

.feed-filter-category:active {
    background: var(--background-gray);
}

.post-create-btn {
    background: var(--background-white);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    width: 553px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-accent);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.post-create-btn:hover {
    background: var(--background-light-gray);
}

.post-create-btn:active {
    background: var(--background-gray);
}

.feed-posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}
