.comment {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: var(--font-size-s);
    color: var(--text-primary);
    line-height: var(--line-height-m);
}

.comment__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.comment__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment__author {
    font-weight: var(--font-weight-bold);
}

.comment__text {
    color: var(--text-secondary);
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    &-wrapper {
        display: flex;
        flex-direction: column;
        // gap: 2px;
        position: relative;
    }

    &_expanded {
        -webkit-line-clamp: unset;
        line-clamp: unset;
        display: block;
        overflow: visible;
    }
}

.comment__more {
    cursor: pointer;
    color: var(--text-secondary);
    transition: var(--trans-menu);

    &:hover {
        color: var(--text-secondary-hover);
    }

    // clip-path: inset(0 0 0 -100px);
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // background: var(--background-white);
    // box-shadow: -12px 0 16px 16px rgb(255, 255, 255);
}

.comment__time {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
    white-space: nowrap;
}

.comment__header-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.comment__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.comment__action {
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    cursor: pointer;
}

.comment__action .post__action-icon {
    color: var(--icon-primary);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment__action .post__counter {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
    white-space: nowrap;
}

.comment__action-icon {
    color: var(--icon-primary);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
