:root {
    --icon-primary: #99a2ad;
    --icon-primary-hover: #b8bec6;
    --icon-primary-disabled: #dce1e5;
    --icon-accent: #4369fc;
    --icon-white: #fff;
    --icon-green: #24b324;
    --icon-red: #ff3b2f;
    --icon-black-transparent: rgba(0, 0, 0, 0.5);

    --background-gray: #edeef0;
    --background-gray-hover: #e4e5e9;
    --background-light-gray: #f5f6f7;
    --background-white: #fff;
    --background-white-transparent: rgba(255, 255, 255, 0.5);
    --background-white-transparent-hover: rgba(255, 255, 255, 0.8);
    --background-black-transparent: rgba(0, 0, 0, 0.5);
    --background-error: #ffeceb;

    --text-primary: #000;
    --text-secondary: #818c99;
    --text-secondary-hover: #a7aeb8;
    --text-secondary-disabled: #bcc3cc;
    --text-white: #fff;
    --text-accent: #4369fc;
    --text-accent-hover: #1438c3;
    --text-error: #ff3b2f;

    --stroke-primary: #dce1e5;
    --stroke-primary-hover: #d0d5d9;
    --stroke-primary-focus: #c4c8cc;
    --stroke-white-transp: rgba(255, 255, 255, 0.25);
    --stroke-white-transp-hover: rgba(255, 255, 255, 0.4);
    --stroke-white-transp-active: rgba(255, 255, 255, 0.55);
    --stroke-checkbox: #99a2ad;
    --stroke-error: #ff3b2f;
    --stroke-white: #fff;

    --button-primary: #4369fc;
    --button-primary-hover: #3b60ed;
    --button-primary-active: #3155e0;
    --button-primary-disabled: #849cfb;
    --button-secondary: #fff;
    --button-secondary-hover: #f5f6f7;
    --button-secondary-active: #edeef0;
    --button-overlay: rgba(0, 0, 0, 0.5);
    --button-overlay-hover: rgba(0, 0, 0, 0.65);
    --button-overlay-active: rgba(0, 0, 0, 0.8);
    --button-white: #fff;

    --shadow-context-menu: 0 4px 32px 0 rgba(0, 0, 0, 0.16);
    --shadow-nav: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

html.theme_dark {
    --icon-primary: #a3a7ad;
    --icon-primary-hover: #b8bec6;
    --icon-primary-disabled: #dce1e5;
    --icon-accent: #5e7fff;
    --icon-white: #fff;
    --icon-green: #26bf26;
    --icon-red: #ff3b2f;
    --icon-black-transparent: rgba(0, 0, 0, 0.5);

    --background-white: #212121;
    --background-gray: #292929;
    --background-gray-hover: #292929;
    --background-light-gray: #2e2e2e;
    --background-white-transparent: rgba(255, 255, 255, 0.5);
    --background-white-transparent-hover: rgba(255, 255, 255, 0.8);
    --background-black-transparent: rgba(0, 0, 0, 0.5);
    --background-error: #371a18;

    --text-primary: #ffffff;
    --text-secondary: #aaaeb2;
    --text-secondary-hover: #afb3b8;
    --text-secondary-disabled: #bcc3cc;
    --text-white: #fff;
    --text-accent: #5e7fff;
    --text-accent-hover: #4369fc;
    --text-error: #ff3b2f;

    --stroke-primary: #4d4d4d;
    --stroke-primary-hover: #575859;
    --stroke-primary-focus: #646566;
    --stroke-white-transp: rgba(255, 255, 255, 0.25);
    --stroke-white-transp-hover: rgba(255, 255, 255, 0.4);
    --stroke-white-transp-active: rgba(255, 255, 255, 0.55);
    --stroke-checkbox: #99a2ad;
    --stroke-error: #ff3b2f;
    --stroke-white: #212121;

    --button-primary: #4369fc;
    --button-primary-hover: #3b60ed;
    --button-primary-active: #3155e0;
    --button-primary-disabled: #384a8d;
    --button-secondary: #212121;
    --button-secondary-hover: #333333;
    --button-secondary-active: #292929;
    --button-overlay: rgba(0, 0, 0, 0.5);
    --button-overlay-hover: rgba(0, 0, 0, 0.65);
    --button-overlay-active: rgba(0, 0, 0, 0.8);
    --button-white: #fff;

    --shadow-context-menu: 0 4px 32px 0 rgba(0, 0, 0, 0.56);
    --shadow-nav: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

:root {
    --trans-input: all 0.15s ease-out;
    --trans-btn: all 0.15s ease-out;
    --trans-menu: all 0.15s ease-out;
    --trans-dropdown: all 0.2s ease-out;
    --trans-post-slider: all 0.2s ease;
}

:root {
    --font-family: 'vk-sans';

    --font-size-xs: 0.65rem;
    --font-size-s: 0.7rem;
    --font-size-l: 0.75rem;
    --font-size-xl: 1rem;

    --font-weight-regular: 400;
    --font-weight-bold: 500;

    --line-height-m: 130%;
}
