.button_feed {
    background: var(--background-white);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    width: 553px;
    height: 40px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-accent);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .button_feed {
        width: 100%;
    }
}

.button_feed:hover {
    background: var(--background-light-gray);
}

.button_feed:active {
    background: var(--background-gray);
}

.button_feed__icon {
    width: 20px;
    height: 20px;
    color: var(--icon-accent);
    // background: url('./static/img/add-icon.svg');
}

.feed__posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}

.feed__empty {
    border: 1px solid var(--stroke-primary);
    height: 180px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-secondary);
    text-align: center;
    gap: 12px;
}

.feed__empty-icon {
    width: 48px;
    height: 48px;
}

.feed__bottom-sentinel {
    margin-top: -48px;
}
