.modal-window {
    max-width: 560px;
    width: 100%;
    padding: 16px 20px;
    background: var(--background-white);
    border-radius: 12px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-window__bg {
    background: var(--background-black-transparent);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window_post {
    gap: 8px;
}

.modal-window_profile {
    gap: 12px;
}

.modal-window__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-window__close-btn {
    background: url('../../../static/img/close-icon.svg');
    width: 28px;
    height: 28px;
    background-position: center;
    border-radius: 50%;
    border: none;
}

.modal-window__close-btn:hover {
    background-color: var(--background-light-gray);
}

.modal-window__close-btn:active {
    background-color: var(--background-gray);
}

.modal-window__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.modal-window__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-window__divider {
    height: 1px;
    border-radius: 100px;
    background: var(--stroke-primary);
    width: 100%;
}

.modal-window__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.modal-window-count {
    font-size: var(--font-size-l);
}

.modal-window__items-counted {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.modal-window__item-counted {
    display: flex;
    flex-direction: column;
}

.modal-window__pics {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* .modal-window-pics-wrapper.blank {
    border: 1px dashed var(--stroke-primary-focus);
    border-radius: 8px;
    background: var(--background-white);
    transition: var(--trans-menu);
} */

/* .modal-window-pics-wrapper.blank:hover {
    background: var(--background-light-gray);
}

.modal-window-pics-wrapper.blank:active {
    background: var(--background-gray);
} */

.modal-window__pics.blank .modal-window__add-pic-wrapper {
    width: 100%;
}

.modal-window__add-pic-wrapper {
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    border: 1px dashed var(--stroke-primary-focus);
    border-radius: 8px;
    background: var(--background-white);
    transition: var(--trans-menu);
    cursor: pointer;
}

.modal-window__add-pic-wrapper:hover {
    background: var(--background-light-gray);
}

.modal-window__add-pic-wrapper:active {
    background: var(--background-gray);
}

.modal-window__pic-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.modal-window__pic {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--stroke-primary);
}

.modal-window__pics.blank .modal-window__add-pic {
    width: 32px;
    height: 32px;
}

.modal-window__add-pic {
    width: 28px;
    height: 28px;
}
