.container {
    max-width: 932px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.container_feed {
    flex-direction: row;
    gap: 16px;
}

.container_profile {
    flex-direction: column;
    gap: 40px;
}

.container_messenger {
    height: calc(100vh - 48px - 56px);
}

.container__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.container__column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__column_left {
    align-items: flex-start;
    gap: 24px;
    max-width: 553px;
    min-width: 553px;
}

.container__column_right {
    align-items: center;
}
