@import url(../constants.css);

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.button-primary {
    border-radius: 8px;
    width: auto;
    height: 36px;
    background: var(--button-primary);
    border: none;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-white);
}

.button-primary:hover {
    background: var(--button-primary-hover);
}

.button-primary:active {
    background: var(--button-primary-active);
}

.button-primary:disabled {
    background: var(--button-primary-disabled);
}

.button-secondary {
    width: auto;
    height: 36px;
    border-radius: 8px;
    background: var(--button-secondary);
    border: 1px solid var(--stroke-primary);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-primary);
}

.button-secondary:hover {
    background: var(--button-secondary-hover);
}

.button-secondary:active {
    background: var(--button-secondary-active);
}