header {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0 64px;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    height: 56px;
    background: var(--background-white);
    border-bottom: 1px solid var(--stroke-primary);
    align-items: center;
    justify-content: center;
}

a {
    cursor: pointer;
}

.header-search {
    min-width: 220px;
}

.icon-wrapper {
    width: 20px;
    height: 20px;
}

.header-inner-wrapper {
    display: flex;
    width: 932px;
    height: 56px;
    max-width: 932px;
    justify-content: space-between;
    align-items: center;
}

.logo-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    gap: 24px;
}

.search-container {
    align-self: center;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 8px;
    width: 220px;
    height: 32px;
    gap: 8px;
}

.search-item {
    border: none;
    outline: none;
    background: transparent;
    width: 220px;
    height: 32px;
    font-size: 14px;
    padding-left: 8px;

    flex-grow: 1;
    text-align: left;
}

.search-icon {
    align-self: center;
    padding-left: 16px;
    width: 16px;
    height: 16px;
}

.search-icon-container {
    align-self: center;
    display: flex;
    align-items: center;
    width: 64px;
    height: 20px;
    gap: 24px;
}

.notice-icon {
    display: flex;
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.music-icon-top {
    width: 20px;
    height: 20px;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.dropdown-button {
    width: 10px;
    height: 10px;
    background: url(../../static/img/show-dropdown-arrow.svg) 0 0 no-repeat;
    cursor: pointer;
}
