<div class="header-left">
    <input class="header-search" type="search" placeholder="{{placeholder}}">
    <a class="icon-wrapper">
        <img class="notice-icon" src="/static/img/notice-icon.svg" alt="Notifications">
    </a>
    <a class="icon-wrapper">
        <img class="music-icon-top" src="/static/img/music-icon-top.svg" alt="Music">
    </a>
</div>
