/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./public/index.scss ***!
  \********************************************************************************************************************************************************************/
:root {
    --icon-primary: #99a2ad;
    --icon-primary-hover: #b8bec6;
    --icon-primary-disabled: #dce1e5;
    --icon-accent: #4369fc;
    --icon-white: #fff;
    --icon-green: #24b324;
    --icon-red: #ff3b2f;
    --icon-black-transparent: rgba(0, 0, 0, 0.5);
    --background-gray: #edeef0;
    --background-gray-hover: #e4e5e9;
    --background-light-gray: #f5f6f7;
    --background-white: #fff;
    --background-white-transparent: rgba(255, 255, 255, 0.5);
    --background-white-transparent-hover: rgba(255, 255, 255, 0.8);
    --background-black-transparent: rgba(0, 0, 0, 0.5);
    --background-error: #ffeceb;
    --text-primary: #000;
    --text-secondary: #818c99;
    --text-secondary-hover: #a7aeb8;
    --text-secondary-disabled: #bcc3cc;
    --text-white: #fff;
    --text-accent: #4369fc;
    --text-accent-hover: #1438c3;
    --text-error: #ff3b2f;
    --stroke-primary: #dce1e5;
    --stroke-primary-hover: #d0d5d9;
    --stroke-primary-focus: #c4c8cc;
    --stroke-white-transp: rgba(255, 255, 255, 0.25);
    --stroke-white-transp-hover: rgba(255, 255, 255, 0.4);
    --stroke-white-transp-active: rgba(255, 255, 255, 0.55);
    --stroke-checkbox: #99a2ad;
    --stroke-error: #ff3b2f;
    --stroke-white: #fff;
    --button-primary: #4369fc;
    --button-primary-hover: #3b60ed;
    --button-primary-active: #3155e0;
    --button-primary-disabled: #849cfb;
    --button-secondary: #fff;
    --button-secondary-hover: #f5f6f7;
    --button-secondary-active: #edeef0;
    --button-overlay: rgba(0, 0, 0, 0.5);
    --button-overlay-hover: rgba(0, 0, 0, 0.65);
    --button-overlay-active: rgba(0, 0, 0, 0.8);
}

:root {
    --trans-input: all 0.15s ease-out;
    --trans-btn: all 0.15s ease-out;
    --trans-menu: all 0.15s ease-out;
    --trans-dropdown: all 0.2s ease-out;
    --trans-post-slider: all 0.2s ease;
}

:root {
    --font-family: 'vk-sans';
    --font-size-xs: 0.65rem;
    --font-size-s: 0.7rem;
    --font-size-l: 0.75rem;
    --font-size-xl: 1rem;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --line-height-m: 130%;
}

/* @import url(../../constants.css); */
button {
    cursor: pointer;
    transition: var(--trans-btn);
}

.button {
    cursor: pointer;
    transition: var(--trans-btn);
    padding: 0 12px;
}

.button:disabled {
    cursor: not-allowed;
}

.button_large {
    height: 36px;
    font-size: var(--font-size-l);
}

.button_small {
    height: 32px;
    font-size: var(--font-size-s);
}

.button_primary {
    border-radius: 8px;
    width: auto;
    background: var(--button-primary);
    border: none;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    color: var(--text-white);
}

.button_primary:hover {
    background: var(--button-primary-hover);
}

.button_primary:active {
    background: var(--button-primary-active);
}

.button_primary:disabled {
    background: var(--button-primary-disabled);
}

.button_secondary {
    width: auto;
    border-radius: 8px;
    background: var(--button-secondary);
    border: 1px solid var(--stroke-primary);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.button_secondary:hover {
    background: var(--button-secondary-hover);
}

.button_secondary:active {
    background: var(--button-secondary-active);
}

.button_overlay {
    width: auto;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: var(--button-overlay);
    border: 1px solid var(--stroke-white-transp);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    color: var(--text-white);
}

.button_overlay.button_small {
    font-size: var(--font-size-xs);
}

.button_overlay:hover {
    background: var(--button-overlay-hover);
    border: 1px solid var(--stroke-white-transp-hover);
}

.button_overlay:active {
    background: var(--button-overlay-active);
    border: 1px solid var(--stroke-white-transp-active);
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.input__required {
    color: var(--text-error);
}

.input:only-child {
    gap: 0;
}

.input__description-wrapper {
    display: flex;
    justify-content: space-between;
}

.input__field {
    border: 1px solid var(--stroke-primary);
    border-radius: 8px;
    padding: 0 12px;
    width: 100%;
    height: 36px;
    background: var(--background-light-gray);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    transition: var(--trans-input);
}

.input__field::placeholder {
    color: var(--text-secondary);
}

.input__field:hover {
    border: 1px solid var(--stroke-primary-hover);
}

.input__field:focus {
    border: 1px solid var(--stroke-primary-focus);
    outline: none;
}

.input__field_invalid {
    border: 1px solid var(--stroke-error) !important;
    background: var(--background-error) !important;
}

.input__error {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-error);
}

.input__inner {
    position: relative;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.input__password-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 10px 12px;
    background: url(../assets/icons/show-icon.svg) 0 0 no-repeat;
    background-size: contain;
    cursor: pointer;
}

.input__password-toggle_show {
    background: url(../assets/icons/hide-icon.svg) 0 0 no-repeat;
}

.input__field[type='search'] {
    padding-left: 36px;
}

.input__search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 10px 10px 10px 12px;
    background: url(../assets/icons/search-icon.svg) 0 0 no-repeat;
    background-size: contain;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.radio__choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.radio__choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--text-primary);
}

.radio__input {
    transition: var(--trans-input);
    width: 16px;
    height: 16px;
    margin: 0;
}

.modal {
    max-width: 560px;
    width: 100%;
    padding: 16px 20px;
    background: var(--background-white);
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal__bg {
    background: var(--background-black-transparent);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_post {
    gap: 8px;
}

.modal_profile {
    gap: 12px;
}

.modal__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal__close {
    background: url(../assets/icons/close-icon.svg);
    width: 28px;
    height: 28px;
    background-position: center;
    border-radius: 50%;
    border: none;
}

.modal__close:hover {
    background-color: var(--background-light-gray);
}

.modal__close:active {
    background-color: var(--background-gray);
}

.modal__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.modal__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal__divider {
    height: 1px;
    border-radius: 100px;
    background: var(--stroke-primary);
    width: 100%;
}

.modal__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.modal__count {
    font-size: var(--font-size-l);
}

.modal__items-counted {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.modal__item-counted {
    display: flex;
    flex-direction: column;
}

.modal__pics {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.modal__add-pic {
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    border: 1px dashed var(--stroke-primary-focus);
    border-radius: 8px;
    background: var(--background-white);
    transition: var(--trans-menu);
    cursor: pointer;
}

.modal__add-pic:hover {
    background: var(--background-light-gray);
}

.modal__add-pic:active {
    background: var(--background-gray);
}

.modal__pics_blank .modal__add-pic {
    width: 100%;
}

.modal__pic {
    height: 100%;
    aspect-ratio: 1/1;
}

.modal__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--stroke-primary);
}

.modal__camera {
    width: 28px;
    height: 28px;
}

.modal__pics_blank .modal__camera {
    width: 32px;
    height: 32px;
}

.textarea {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.textarea__label {
    width: 33%;
    height: 36px;
    align-content: center;
}

.textarea__field {
    color: var(--text-primary);
    font-size: var(--font-size-s);
    margin-bottom: 8px;
    border: 1px solid var(--stroke-primary);
    border-radius: 8px;
    padding: 8px 12px;
    background: var(--background-light-gray);
    transition: var(--trans-input);
    width: 100%;
    height: 145px;
    min-height: 160px;
    resize: none;
}

.textarea__field:hover {
    border: 1px solid var(--stroke-primary-hover);
}

.textarea__field:focus {
    border: 1px solid var(--stroke-primary-focus);
    outline: none;
}

.textarea__field::placeholder {
    color: var(--text-secondary);
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 553px;
    width: 553px;
}
.post__content {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
}
.post__text {
    color: var(--text-primary);
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
.post__text_expanded {
    display: block;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}
.post__more {
    cursor: pointer;
    color: var(--text-secondary);
    transition: var(--trans-menu);
}
.post__more:hover {
    color: var(--text-secondary-hover);
}
.post__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
    justify-content: space-between;
    position: relative;
}
.post__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.post__author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post__date {
    color: var(--text-secondary);
}
.post__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.post__add-to-friends {
    transition: var(--trans-menu);
}
.post__add-to-friends:hover {
    color: var(--text-accent-hover);
}
.post__options {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--trans-dropdown);
}
.dropdown:hover .post__options {
    background: var(--background-light-gray);
}
.dropdown:hover .post__options:active {
    background: var(--background-gray);
}
.post__options-icon {
    background: url(../assets/icons/options-icon.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
.post__pics {
    display: flex;
    overflow: hidden;
    width: 553px;
    position: relative;
    border-radius: 8px;
}
.post__slide {
    width: 553px;
    aspect-ratio: 4/5;
}
.post__pic {
    border: 1px solid var(--stroke-primary);
    border-radius: 8px;
    width: 553px;
    height: 100%;
    object-fit: cover;
}
.post__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px 0;
    justify-content: space-between;
    width: 100%;
}
.post__actions_counted {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}
.post__action {
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.post__like,
.post__comment,
.post__repost,
.post__bookmark {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.post__like {
    background-image: url(../assets/icons/like-icon.svg);
}
.post__comment {
    background-image: url(../assets/icons/comment-icon.svg);
}
.post__repost {
    background-image: url(../assets/icons/repost-icon.svg);
}
.post__bookmark {
    background-image: url(../assets/icons/bookmark-icon.svg);
}
.post__counter {
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 100%;
    color: var(--text-secondary);
}
.post__nav {
    position: absolute;
    background: var(--background-white);
    align-self: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post__nav:hover {
    opacity: 0.65;
    transition: var(--trans-menu);
}
.post__nav:active {
    opacity: 0.8;
    transition: var(--trans-menu);
}
.post__nav_prev {
    left: 12px;
}
.post__nav_next {
    right: 12px;
}
.post__slider {
    display: flex;
    flex-direction: row;
    transition: var(--trans-post-slider);
}
.post__paginator {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 100px;
    padding: 4px 8px;
    background: var(--background-black-transparent);
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    color: var(--text-white);
}

.hidden {
    display: none;
    pointer-events: none;
}

.menu {
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-right: 1px solid var(--stroke-primary);
    padding: 12px;
    background: var(--background-white);
    align-items: center;
    z-index: 1;
}

.menu__logo {
    height: fit-content;
    width: fit-content;
    align-self: start;
    cursor: pointer;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
    width: 100%;
    height: 36px;
    flex-direction: row;
    border-radius: 8px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-l);
    line-height: 100%;
    color: var(--text-primary);
    transition: var(--trans-menu);
}

.menu__item:hover {
    background: var(--button-secondary-hover);
}

.menu__item:active {
    background: var(--button-secondary-active);
}

.menu__icon {
    width: 16px;
    height: 16px;
}

.menu__item_active {
    font-weight: var(--font-weight-bold);
    color: var(--text-accent);
}

.container_auth {
    max-width: 100%;
    padding: 24px 64px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 128px;
    background: radial-gradient(331.49% 141.42% at 0% 0%, #ced8ff 0%, #4369fc 100%);
}

.container_auth .header,
.container_auth .menu {
    display: none;
}

.container_auth .main {
    top: unset;
    left: unset;
}

.header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0 64px;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    height: 56px;
    background: var(--background-white);
    border-bottom: 1px solid var(--stroke-primary);
    align-items: center;
    justify-content: center;
}

.header__inner {
    display: flex;
    width: 100%;
    height: 56px;
    max-width: 932px;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    gap: 24px;
}

.header__search {
    min-width: 220px;
}

.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    height: 100%;
    cursor: pointer;
    transition: var(--trans-menu);
    position: relative;
}

.header__right:hover {
    background: var(--background-light-gray);
}

a {
    cursor: pointer;
}

.header__icon {
    width: 20px;
    height: 20px;
}

.header__dropdown-icon {
    width: 10px;
    height: 10px;
    background: url(../assets/icons/show-dropdown-arrow.svg) 0 0 no-repeat;
    cursor: pointer;
}

.radio-menu {
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    padding: 8px;
    width: 100%;
    background: var(--text-white);
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-menu__item {
    border-radius: 8px;
    padding: 0px 12px;
    width: 100%;
    height: 36px;
    transition: var(--trans-menu);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.radio-menu__item_active {
    background: var(--background-light-gray);
}

.radio-menu__item:hover {
    background: var(--background-light-gray);
}

.radio-menu__item:active {
    background: var(--background-gray);
}

/* @import url(../constants.css); */
.auth-form__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

.auth-form__logo {
    width: 48px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.auth-form__username {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--background-white);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    padding: 24px 28px;
    width: 360px;
    box-sizing: border-box;
}

.auth-form__checkbox {
    margin: 0;
    width: 16px;
    height: 16px;
}

.auth-form__checkboxes {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.auth-form__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-form__personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form__name-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.auth-form__back-btn {
    background: url(../assets/icons/arrow-back-icon.svg) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -4px;
    top: -2px;
    border-radius: 50%;
    transition: var(--trans-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.auth-form__back-btn:hover {
    background-color: var(--button-secondary-hover);
}

.auth-form__back-btn:active {
    background-color: var(--button-secondary-active);
}

.avatar {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
}

.avatar__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.avatar_xxs {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
}

.avatar_xs {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.avatar_s {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.avatar_m {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.avatar_l {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
}

.avatar_xl {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.avatar_xxl {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.avatar_xxxl {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.avatar_edit {
    align-items: center;
    justify-content: center;
    bottom: -44px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    border: 4px solid var(--stroke-white);
}

.avatar__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background: none;
    transition: var(--trans-menu);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar__overlay:hover {
    background: var(--background-black-transparent);
}

.avatar__overlay:active {
    opacity: 0.8;
}

.avatar__edit-icon {
    margin-bottom: 4px;
    opacity: 0.9;
    filter: drop-shadow(0 2px 8px var(--button-overlay-active));
    -webkit-filter: drop-shadow(0 2px 8px var(--button-overlay-active));
    -moz-filter: drop-shadow(0 2px 8px var(--button-overlay-active));
    -o-filter: drop-shadow(0 2px 8px var(--button-overlay-active));
    -ms-filter: drop-shadow(0 2px 8px var(--button-overlay-active));
}

.avatar__overlay:hover .avatar__edit-icon {
    opacity: 1;
}

.avatar__status_online {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: var(--icon-green);
    border: 4px solid var(--stroke-white);
    box-sizing: content-box;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.avatar__status_offline {
    position: absolute;
    bottom: -4px;
    right: -4px;
    box-sizing: content-box;
    background: var(--background-gray);
    border: 4px solid var(--stroke-white);
    border-radius: 1000px;
    padding: 2px 8px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.dropdown {
    display: flex;
    position: absolute;
    top: 4px;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.dropdown:hover .context-menu {
    position: relative;
    opacity: 1;
    transform: scale(1) translateY(0);
    height: auto;
    padding: 8px;
    pointer-events: auto;
}

.context-menu {
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.16);
    background: var(--background-white);
    border-radius: 12px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    height: auto;
    overflow: hidden;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    user-select: none;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        height 0.2s ease,
        padding 0.2s ease;
}

.context-menu_below-end {
    right: 0;
    top: calc(100% + 4px);
    transform: scale(0.97) translateY(-12px);
}

.context-menu_above-start {
    bottom: calc(100% + 4px);
    transform: scale(0.97) translateY(12px);
}

.context-menu_default {
    width: 228px;
}

.context-menu_mini {
    width: 128px;
}

.context-menu__icon {
    width: 16px;
    height: 16px;
}

.context-menu__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding: 0 12px;
    font-size: var(--font-size-xs);
    border-radius: 8px;
    cursor: pointer;
    transition: var(--trans-menu);
}

.context-menu__option:hover {
    background: var(--button-secondary-hover);
}

.context-menu__option:active {
    background: var(--button-secondary-active);
}

.context-menu__text_critical {
    color: var(--text-error);
}

.profile-menu {
    top: 56px;
    right: 0;
    position: absolute;
    width: 300px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.16);
    background: var(--background-white);
    border-bottom: 1px solid var(--stroke-primary);
    border-left: 1px solid var(--stroke-primary);
    border-right: 1px solid var(--stroke-primary);
    border-radius: 0 0 12px 12px;
    padding: 28px 8px 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    opacity: 0;
    transform: scale(0.98) translateY(-12px);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    pointer-events: none;
    clip-path: inset(0 -100px -100px -100px);
    cursor: default;
}

.header__right:hover .profile-menu {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 0;
    pointer-events: auto;
}

.profile-menu__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.profile-menu__profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-menu__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.profile-menu__username {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.profile-menu__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.profile-menu__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    height: 36px;
    width: 100%;
    border-radius: 8px;
    transition: var(--trans-menu);
    cursor: pointer;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-l);
    line-height: 100%;
    color: var(--text-primary);
}

.profile-menu__item:hover {
    background: var(--button-secondary-hover);
}

.profile-menu__item:active {
    background: var(--button-secondary-active);
}

.container {
    max-width: 932px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.container_feed {
    flex-direction: row;
    gap: 16px;
}

.container_profile {
    flex-direction: column;
    gap: 40px;
}

.container_messenger {
    height: calc(100vh - 48px - 56px);
}

.container__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.container__column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__column_left {
    align-items: flex-start;
    gap: 24px;
    max-width: 553px;
    min-width: 553px;
}

.container__column_right {
    align-items: center;
}

.messenger {
    border: 1px solid var(--stroke-primary);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-window {
    flex-grow: 1;
    height: 100%;
    background: var(--background-white);
    position: relative;
}

.chat-window__empty {
    font-size: 14px;
    line-height: 130%;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.chat-window__empty-icon {
    height: 48px;
    width: 48px;
    background: url(../assets/icons/comment-icon.svg) no-repeat;
    background-size: cover;
}

.chat-window__header {
    border-bottom: 1px solid var(--stroke-primary);
    padding: 0px 8px;
    width: 100%;
    height: 50px;
    background: var(--background-white);
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.chat-window__header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-window__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    color: var(--text-primary);
}

.chat-window__status {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    color: var(--text-secondary);
}

.chat-window__dropdown {
    right: 8px;
    top: 9px;
}

.chat-window__bottom {
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 0 16px 16px 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    -o-backdrop-filter: blur(12px);
    -ms-backdrop-filter: blur(12px);
}

.chat-window__bottom-bar {
    width: 100%;
    height: auto;
    min-height: 46px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    background: var(--background-white);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-height: 240px;
    position: relative;
}

.chat-window__media-dropdown {
    top: unset;
    right: unset;
    left: 8px;
    align-items: flex-start;
}

.chat-window__msg {
    border: none;
    width: 100%;
    outline: none;
    border-radius: 0;
    padding: 0;
    background: none;
    padding: 8px 4px;
    padding-left: 40px;
    resize: none;
    align-self: center;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-primary);
    max-height: 240px;
}

.chat-window__msg::-webkit-scrollbar {
    display: none;
}

.chat-window__msg::placeholder {
    color: var(--text-secondary);
}

.chat-window__media {
    background: url(../assets/icons/primary-add-icon.svg) no-repeat;
    height: 36px;
    width: 36px;
    min-width: 36px;
    background-position: center;
    transition: var(--trans-menu);
    cursor: pointer;
    border-radius: 50%;
}

.chat-window__media:hover {
    background-color: var(--background-light-gray);
}

.chat-window__media:active {
    background-color: var(--background-gray);
}

.chat-window__send {
    background: url(../assets/icons/plane-icon.svg) no-repeat;
    height: 36px;
    width: 36px;
    min-width: 36px;
    background-position: center;
    transition: var(--trans-menu);
    cursor: pointer;
}

.chat-window__send_disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.chats-panel__msg-divider {
    padding: 0 2px;
}

.chats-panel {
    border-right: 1px solid var(--stroke-primary);
    max-width: 320px;
    min-width: 220px;
    height: 100%;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
    flex-shrink: 0;
}

.chats-panel__header {
    padding: 10px 20px 8px 20px;
    width: 100%;
    height: 92px;
    background: var(--background-white);
}

.chats-panel__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 0px 10px 0px;
    width: 100%;
    height: 42px;
}

.chats-panel__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-primary);
}

.chats-panel__filter {
    background: url(../assets/icons/filter-icon.svg) no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    transition: var(--trans-menu);
    border-radius: 50%;
    cursor: pointer;
}

.chats-panel__filter:hover {
    background-color: var(--background-light-gray);
}

.chats-panel__filter:active {
    background-color: var(--background-gray);
}

.chats-panel__search input {
    height: 32px;
    background: var(--background-gray);
    border: 1px solid transparent;
    width: 100%;
}

.chats-panel__search .input__search-icon {
    height: 100%;
    margin: 0 10px 0 12px;
    background-position: center;
}

.chats-panel__chats {
    padding: 0px 8px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chats-panel__chats::-webkit-scrollbar {
    display: none;
}

.chats-panel__chat {
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    height: 64px;
    transition: var(--trans-menu);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    user-select: none;
    cursor: pointer;
}

.chats-panel__chat:hover {
    background: var(--background-light-gray);
}

.chats-panel__chat:active {
    background: var(--background-gray);
}

.chats-panel__chat_active {
    background: var(--background-light-gray);
}

.chats-panel__chat-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 60px);
}

.chats-panel__chat-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-primary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.chats-panel__msg-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-secondary);
}

.chats-panel__msg {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.chats-panel_mini {
    max-width: 72px;
    min-width: 72px;
}

.chats-panel_mini .chats-panel__chats {
    padding: 0;
}

.chats-panel_mini .chats-panel__chat {
    border-radius: 0;
    padding: 10px 12px;
    height: auto;
}

.chats-panel_mini .chats-panel__chat-info {
    display: none;
}

.chats-panel_mini .chats-panel__search {
    display: none;
}

.chats-panel_mini .chats-panel__filter {
    display: none;
}

.chats-panel_mini .chats-panel__header {
    height: 50px;
    border-bottom: 1px solid var(--stroke-primary);
}

.chats-panel_mini .chats-panel__section {
    justify-content: center;
}

.chats-panel__draft {
    color: var(--text-error);
}

.chat {
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat__date {
    font-size: var(--font-size-xs);
    line-height: 130%;
    color: var(--text-secondary);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: 8px 40px;
}

.chat__scroll {
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
}

.chat__msg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 13px;
    line-height: 130%;
    padding: 8px 40px;
    gap: 8px;
}

.chat__msg_nameless {
    padding-left: 80px;
    padding-top: 4px;
}

.chat__msg-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.chat__sender {
    font-weight: 500;
    color: var(--text-accent);
}

.chat__msg_nameless .chat__sender {
    display: none;
}

.chat__msg_nameless .avatar {
    display: none;
}

.chat__msg-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: auto;
}

.chat__msg-ts {
    flex-shrink: 0;
    color: var(--text-secondary);
}

.chat__msg-status {
    background: url(../assets/icons/check-icon.svg) no-repeat;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.chat__msg-status_read {
    background: url(../assets/icons/double-check-icon.svg) no-repeat;
}

.chat__scroll_empty {
    font-size: 15px;
    text-align: center;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.chat__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.chat__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.resizer {
    width: 5px;
    cursor: col-resize;
    background-color: none;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
}

body.resize {
    cursor: col-resize;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button_feed {
    background: var(--background-white);
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    width: 553px;
    height: 40px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-accent);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.button_feed:hover {
    background: var(--background-light-gray);
}

.button_feed:active {
    background: var(--background-gray);
}

.button_feed__icon {
    width: 20px;
    height: 20px;
    background: url(../assets/icons/add-icon.svg);
}

.feed__posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile_edit {
    margin-bottom: 44px;
}

.cover {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    height: 256px;
}

.cover_edit {
    height: 156px;
}

.cover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__content {
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 16px 0 0 190px;
    box-sizing: content-box;
    justify-content: space-between;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.profile__avatar {
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 20px;
    border: 4px solid var(--stroke-white);
}

.profile__details {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.profile__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-secondary);
}

.profile__icon {
    width: 16px;
    height: 16px;
}

.profile__friends {
    width: 100%;
    border: 1px solid var(--stroke-primary);
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.profile__friends-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.profile__friends-count {
    color: var(--text-secondary);
}

.profile__friends-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    column-gap: 20px;
    justify-content: space-evenly;
}

.profile__friend {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 64px;
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.profile__detail_more {
    cursor: pointer;
    transition: var(--trans-btn);
}

.profile__detail_more:hover {
    text-decoration: underline;
}

.profile__detail_more:active {
    text-decoration: underline;
    color: var(--text-secondary-hover);
}

.cover__btn {
    position: absolute;
    top: 8px;
    right: 8px;
}

.profile_edit__field {
    gap: 0;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.profile_edit__field .input__inner {
    width: 67%;
}

.profile_edit__field .textarea__field {
    width: 67%;
}

.profile_edit__field .input__label {
    width: 33%;
    height: 36px;
    align-content: center;
}

.profile_edit__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile_edit__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.profile_edit__fieldset {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.profile_edit__btn {
    width: fit-content;
    margin-left: 33%;
}

html {
    font-size: 20px;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

@font-face {
    font-family: 'vk-sans';
    src: url(../assets/fonts/VKSansDisplay-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'vk-sans';
    src: url(../assets/fonts/VKSansDisplay-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #fff;
}

.side-menu {
    align-self: start;
    justify-self: end;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 4px;
    top: 60px;
    right: 0;
    padding: 16px;
    width: 363px;
    height: 210px;
}

.side-menu-item:hover {
    background: #f0f0f0;
    border-radius: 4px;
}

.side-menu-item {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    display: flex;
}

main {
    padding: 24px 64px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 220px;
    top: 56px;
    width: calc(100% - 220px);
    align-items: center;
}

a {
    display: block;
    color: var(--text-accent);
    text-decoration: none;
}

h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    margin: 0;
}

.h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-m);
    margin: 0;
}

h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    margin: 0;
}

.h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    margin: 0;
}

h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    margin: 0;
}

.h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    margin: 0;
}

h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-m);
    color: var(--text-primary);
    margin: 0;
}

.h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-m);
    margin: 0;
}

p {
    margin: 0;
}

.p1 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
    text-align: center;
    color: var(--text-secondary);
}

.hidden {
    display: none !important;
}

/*# sourceMappingURL=styles.css.map*/
