.auth-form__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

.auth-form__logo {
    width: 48px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.auth-form__username {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--background-white);
    border-radius: 12px;
    padding: 24px 28px;
    width: 360px;
    box-sizing: border-box;
}

.auth-form__checkbox {
    margin: 0;
    width: 16px;
    height: 16px;
}

.auth-form__checkboxes {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--text-primary);
}

.auth-form__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
