<form class="auth-form">
    <div class="auth-form-top">
        <img class="auth-form-logo" src="/static/img/logo-icon.svg" alt="Logo">
        <h1>{{pwdTitle}}</h1>
        <p class="p1">{{pwdDescription}}</p>
    </div>

    <input type="password" class="input password-input" placeholder="Пароль">

    <div class="auth-form-bottom">
        <button class="button button-primary signin-btn">{{signinBtnText}}</button>
    </div>
</form>