.chats-panel__msg-divider {
    padding: 0 2px;
}

.chats-panel {
    border-right: 1px solid var(--stroke-primary);
    max-width: 320px;
    min-width: 220px;
    height: 100%;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
    flex-shrink: 0;
}

.chats-panel__header {
    padding: 10px 20px 8px 20px;
    width: 100%;
    height: 92px;
    background: var(--background-white);
}

.chats-panel__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 0px 10px 0px;
    width: 100%;
    height: 42px;
}

.chats-panel__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: var(--text-primary);
}

.chats-panel__filter {
    background: url(./static/img/filter-icon.svg) no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    transition: var(--trans-menu);
    border-radius: 50%;
    cursor: pointer;
}

.chats-panel__filter:hover {
    background-color: var(--background-light-gray);
}

.chats-panel__filter:active {
    background-color: var(--background-gray);
}

.chats-panel__search input {
    height: 32px;
    background: var(--background-gray);
    border: 1px solid transparent;
    width: 100%;
}

.chats-panel__search .input__search-icon {
    height: 100%;
    margin: 0 10px 0 12px;
    background-position: center;
}

.chats-panel__chats {
    padding: 0px 8px 8px 8px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chats-panel__chats_empty {
    height: 100%;
}

.chats-panel__chats::-webkit-scrollbar {
    display: none;
}

.chats-panel__chat {
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    height: 64px;
    transition: var(--trans-menu);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    user-select: none;
    cursor: pointer;
}

.chats-panel__chat:hover {
    background: var(--background-light-gray);
}

.chats-panel__chat:active {
    background: var(--background-gray);
}

.chats-panel__chat_active {
    background: var(--background-light-gray);
}

.chats-panel__chat-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 60px);
}

.chats-panel__chat-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-primary);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    word-break: break-all;
}

.chats-panel__msg-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-secondary);
}

.chats-panel__msg {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    word-break: break-all;
}

.chats-panel__draft {
    color: var(--text-error);
}

@media screen and (min-width: 611px) {
    .chats-panel_mini {
        max-width: 72px;
        min-width: 72px;
    }

    .chats-panel_mini .chat-window__empty {
        display: none;
    }

    .chats-panel_mini .chats-panel__chats {
        padding: 0;
    }

    .chats-panel_mini .chats-panel__chat {
        border-radius: 0;
        padding: 10px 12px;
        height: auto;
    }

    .chats-panel_mini .chats-panel__chat-info {
        display: none;
    }

    .chats-panel_mini .chats-panel__search {
        display: none;
    }

    .chats-panel_mini .chats-panel__filter {
        display: none;
    }

    .chats-panel_mini .chats-panel__header {
        height: 50px;
        border-bottom: 1px solid var(--stroke-primary);
    }

    .chats-panel_mini .chats-panel__section {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) and (min-width: 611px) {
    .chats-panel {
        max-width: 72px;
        min-width: 72px;
    }

    .chats-panel .chat-window__empty {
        display: none;
    }

    .chats-panel .chats-panel__chats {
        padding: 0;
    }

    .chats-panel .chats-panel__chat {
        border-radius: 0;
        padding: 10px 12px;
        height: auto;
    }

    .chats-panel .chats-panel__chat-info {
        display: none;
    }

    .chats-panel .chats-panel__search {
        display: none;
    }

    .chats-panel .chats-panel__filter {
        display: none;
    }

    .chats-panel .chats-panel__header {
        height: 50px;
        border-bottom: 1px solid var(--stroke-primary);
    }

    .chats-panel .chats-panel__section {
        justify-content: center;
    }
}

@media screen and (max-width: 610px) {
    .chats-panel {
        width: 100% !important;
        max-width: unset;
        border: none;
    }

    .chats-panel__chat .avatar_m {
        width: 56px;
        height: 56px;
    }

    .chats-panel__chat {
        height: 72px;
        padding: 8px;
    }

    .chats-panel__header {
        padding: 10px 16px 8px 16px;
    }

    .chats-panel__chat-title {
        font-size: var(--font-size-l);
    }

    .chats-panel__msg-info {
        font-size: var(--font-size-l);
    }

    .chats-panel__msg {
        font-size: var(--font-size-l);
    }

    .chats-panel__title {
        font-size: 16px;
    }
}
