.chat {
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat__date {
    font-size: var(--font-size-xs);
    line-height: 130%;
    color: var(--text-secondary);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: 8px 40px;
}

.chat__scroll {
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
}

.chat__msg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 13px;
    line-height: 130%;
    padding: 8px 40px;
    gap: 8px;
    word-break: break-word;
}

.chat__msg_nameless {
    padding-left: 80px;
    padding-top: 4px;
}

.chat__msg-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.chat__sender {
    font-weight: 500;
    color: var(--text-accent);
}

.chat__msg_nameless .chat__sender {
    display: none;
}

.chat__msg_nameless .avatar {
    display: none;
}

.chat__msg-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    min-width: fit-content;
}

.chat__msg-ts {
    flex-shrink: 0;
    color: var(--text-secondary);
}

.chat__msg-status {
    background: url(./static/img/check-icon.svg) no-repeat;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.chat__msg-status_read {
    background: url(./static/img/double-check-icon.svg) no-repeat;
}

.chat__scroll_empty {
    font-size: 15px;
    text-align: center;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.chat__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.chat__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
