.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 553px;
    width: 553px;
}

.post__content {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
}

.post__text {
    color: var(--text-primary);
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.post__text_expanded {
    display: block;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}

.post__more {
    cursor: pointer;
    color: var(--text-secondary);
    transition: var(--trans-menu);
}

.post__more:hover {
    color: var(--text-secondary-hover);
}

.post__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
    justify-content: space-between;
    position: relative;
}

.post__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.post__author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post__date {
    color: var(--text-secondary);
}

.post__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.post__add-to-friends {
    transition: var(--trans-menu);
}

.post__add-to-friends:hover {
    color: var(--text-accent-hover);
}

.post__options {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--trans-dropdown);
}

.dropdown:hover .post__options:active {
    background: var(--background-gray);
}

.dropdown:hover .post__options {
    background: var(--background-light-gray);
}

.post__options-icon {
    background: url(../../static/img/options-icon.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.post__pics {
    display: flex;
    overflow: hidden;
    width: 553px;
    position: relative;
    border-radius: 8px;
}

.post__slide {
    width: 553px;
    aspect-ratio: 4 / 5;
}

.post__pic {
    border: 1px solid var(--stroke-primary);
    border-radius: 8px;
    width: 553px;
    height: 100%;
    object-fit: cover;
}

.post__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px 0;
    justify-content: space-between;
    width: 100%;
}

.post__action {
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.post__like {
    background: url(../../static/img/like-icon.svg) 0 0 no-repeat;
    width: 22px;
    height: 22px;
}

.post__comment {
    background: url(../../static/img/comment-icon.svg) 0 0 no-repeat;
    width: 22px;
    height: 22px;
}

.post__repost {
    background: url(../../static/img/repost-icon.svg) 0 0 no-repeat;
    width: 22px;
    height: 22px;
}

.post__bookmark {
    background: url(../../static/img/bookmark-icon.svg) 0 0 no-repeat;
    width: 22px;
    height: 22px;
}

.post__counter {
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 100%;
    color: var(--text-secondary);
}

.post__nav {
    position: absolute;
    background: var(--background-white);
    align-self: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__slider {
    display: flex;
    flex-direction: row;
    transition: var(--trans-post-slider);
}

.post__nav:hover {
    opacity: 0.65;
    transition: var(--trans-menu);
}

.post__nav:active {
    opacity: 0.8;
    transition: var(--trans-menu);
}

.post__nav_prev {
    left: 12px;
}

.post__nav_next {
    right: 12px;
}

.hidden {
    display: none;
    pointer-events: none;
}

.post__actions_counted {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.post__paginator {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 100px;
    padding: 4px 8px;
    background: var(--background-black-transparent);
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    color: var(--text-white);
}
