@import url(../constants.css);

.required {
    color: var(--text-error);
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-secondary);
}

.input-wrapper:only-child {
    gap: 0;
}

.description-wrapper {
    display: flex;
    justify-content: space-between;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'] {
    border: 1px solid var(--stroke-primary);
    border-radius: 8px;
    padding: 0 12px;
    width: 100%;
    height: 36px;
    background: var(--background-light-gray);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-primary);
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='search']::placeholder,
input[type='password']::placeholder {
    color: var(--text-secondary);
}

input[type='text']:hover,
input[type='email']:hover,
input[type='search']:hover,
input[type='password']:hover {
    border: 1px solid var(--stroke-primary-hover);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='password']:focus {
    border: 1px solid var(--stroke-primary-focus);
    outline: none;
}

input.invalid {
    border: 1px solid var(--stroke-error) !important;
    background: var(--background-error) !important;
}

.input-error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-error);
}

.inner-wrapper {
    position: relative;
}

.pwd-control {
    position: absolute;
    align-self: anchor-center;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 10px 12px;
    background: url(../../static/img/show-icon.svg) 0 0 no-repeat;
    background-size: contain;
    cursor: pointer;
}

.pwd-control.show {
    background: url(../../static/img/hide-icon.svg) 0 0 no-repeat;
}
