<form class="auth-form">
    <div class="auth-form-top">
        <img class="auth-form-logo" src="/static/img/logo-icon.svg" alt="Logo">
        <h1>{{pwdTitle}}</h1>
        <p class="p1">{{pwdDescription}}</p>
    </div>

    <div class="input-wrapper">
        {{> InputComponent type="password" placeholder="Введите пароль" name="password" validation="password" required=true }}
    </div>

    <div class="input-wrapper">
        {{> InputComponent type="password" placeholder="Повторите пароль" name="passwordConfirmation" validation="password" required=true }}
    </div>

    <div class="auth-form-bottom">
        {{> ButtonComponent text=signupBtnText variant="primary" disabled=true }}
    </div>
</form>
