.signup-personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-name-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.auth-form-back-btn {
    background: url(../../static/img/arrow-back-icon.svg) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
