.auth-form__personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form__name-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.auth-form__back-btn {
    background: url(./static/img/arrow-back-icon.svg) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -4px;
    top: -2px;
    border-radius: 50%;
    transition: var(--trans-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.auth-form__back-btn:hover {
    background-color: var(--button-secondary-hover);
}

.auth-form__back-btn:active {
    background-color: var(--button-secondary-active);
}
