.input_search-small input {
    height: 32px;
    background: var(--background-gray);
    border: 1px solid transparent;
    width: 100%;
}

.input_search-small .input__search-icon {
    height: 100%;
    margin: 0 10px 0 12px;
    background-position: center;
}

.button_wide {
    width: 100%;
}

.communities {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    order: 3;
}

.communities__search-results {
    order: 2;
}

.communities__search {
    order: 1;
}
